<%= form_with(model: kind, local: true, class: "container-sm container-md container-lg") do |form| %>
  <% if kind.errors.any? %>
    <section id="error_explanation">
      <h2><%= pluralize(kind.errors.count, "error") %> prohibited this kind from being saved:</h2>
      <ul>
        <% kind.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <section class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </section>
  <section class="actions">
    <%= form.submit t("Nav.Menu-item.Send"), class: "button" %>
    <% if action_name == 'edit' %>
      <%= link_to 'Show', @kind, class: "button" %>
    <% end %>
    <%= link_to 'Back', kinds_path, class: "button" %>
  </section>
<% end %>
