<%= render "shared/header" %>
<p id="notice"><%= notice %></p>
<h1><%= Kind.model_name.human(count: 2) %></h1>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.description %></td>
        <td><%= link_to t('Nav.Menu-item.Show'), kind %></td>
        <td><%= link_to t('Nav.Menu-item.Edit'), edit_kind_path(kind) %></td>
        <td><%= link_to t('Nav.Menu-item.Destroy'), kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "#{t 'Nav.Menu-item.New'} #{Kind.model_name.human}", new_kind_path %>
<%= render "shared/footer" %>
