<%= render partial: "shared/header" %>
<section class="container-sm container-md container-lg">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Description:</strong>
    <%= @kind.description %>
  </p>
  <%= link_to 'Edit', edit_kind_path(@kind), class: "button" %>
  <%= link_to 'Back', kinds_path, class: "button" %>
</section>
<%= render partial: "shared/footer" %>
