<%= render partial: "/shared/header"%>
<section>
    <h1><%= t('Main.Welcome')%></h1>
    <nav>
        <ul>
            <li><%= link_to t('Kinds'), kinds_path %></li>
            <li><%= link_to t('Addresses'), addresses_path %></li>
            <li><%= link_to t('Contacts'), contacts_path %></li>
            <li><%= link_to t('Phones'), phones_path %></li>
        </ul>
    </nav>
</section>
<%= render partial: "/shared/footer"%>
